.navbar {
    padding: 20px 0px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 251, 247);
    position: relative;
  }
  
  .navbar .logo {
    width: 120px;
  }
  
  .navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
    transition: 0.5s;
  }
  
  .navbar-menu .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
  }
  
  .navbar li {
    cursor: pointer;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  
  .navbar button {
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid rgb(69, 88, 122);
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .navbar button:hover {
    background-color: #ffcbc2;
  }
  
  .navbar-search-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: rgb(255, 89, 0);
    border-radius: 50%;
    top: -8px;
    right: -8px;
  }
  
  .navbar-search-icon {
    position: relative;
  }
  
  /* Profile Icon Style */
  .profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #49557e;
  }
  
  .profile-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  /* Responsive Design for Mobile */
  @media (max-width: 1050px) {
    .navbar .logo {
      width: 140px;
    }
    .navbar-menu {
      gap: 20px;
      font-size: 17px;
    }
    .navbar-right {
      gap: 30px;
    }
    .navbar-right img {
      width: 22px;
    }
    .navbar-right button {
      padding: 8px 20px;
    }
  }
  
  @media (max-width: 900px) {
    .navbar .logo {
      width: 120px;
    }
    .navbar-menu {
      gap: 15px;
      font-size: 15px;
    }
    .navbar-right {
      gap: 20px;
    }
    .navbar-right img {
      width: 20px;
    }
    .navbar-right button {
      padding: 7px 20px;
      font-size: 15px;
    }
  }
  
  @media (max-width: 750px) {
    .navbar-menu {
      display: none;
      flex-direction: column;
      gap: 10px;
      position: absolute;
      top: 60px;
      right: 0;
      background-color: rgb(255, 251, 247);
      padding: 20px;
      width: 100%;
      text-align: right;
    }
  
    .navbar-menu.active {
      display: flex;
    }
  
    .hamburger-menu {
      display: flex;
    }
  }
  